@font-face {
    font-family: food;
  src: url();
}



body{
  background-color: burlywood;
font-family: food;
max-width: 1000px;
min-width: 200px;
margin: auto;


}
   
h1{
  text-align: center;
color: chocolate;
max-width: 1000px;
min-width: 200px;
}

.P1{
    background-color: white;
    color:gray;
    width: 80%;
    margin: auto;
    max-width: 1000px;
    min-width: 200px;

  
}
 
    .P2{
        background-color:white;
        color: gray;
        width: 80%;
        margin: auto;
        margin-left: 8%;
        max-width: 1000px;
        min-width: 200px;
    }

.P3{
    background-color: white;
    color:gray;
    margin-left: 8%
 

}

.P4{
    background-color: white;
    color:gray;
    width:80%;
    margin-left: 8%;
    max-width: 1000px;
    min-width: 200px;
  
 
}

.P5{
    background-color: white;
    color: gray;
    width: 80%;
    margin: auto;
    margin-left: 8%;
    max-width: 1000px;
    min-width: 200px;

}


.PT{
    background-color: white;
    margin: auto;
   border-radius: 8px;
   max-width: 1000px;
   min-width: 200px;
  width: 70%;


}

h2{
    color: orange;
    max-width: 1000px;
    min-width: 200px;
}





img{
    text-align: center;
    margin: auto;
    max-width: 1000px;
    min-width: 200px;
 width: 100%;
border-radius: 8px;
}

.card{
    .card {
        width: 100%;
        max-width: 400px; /* Ajuste conforme necessário */
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: auto; /* Garante que a tabela role dentro do cartão */
       
      }
}